{% extends 'base.html' %}
{% load tour_extras %}

{% block title %}Туры {{ depart_city_ru }} - {% endblock %}

{% block content %}
  <main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ depart_city_ru }}</h1>
    <p class="mb-4">Найдено {{ tours|length }} туров, от {{ tours|tour_min:'price' }} до {{ tours|tour_max:'price' }} и от {{ tours|tour_min:'nights' }} ночей до {{ tours|tour_max:'nights' }} ночей</p>
    <!-- CARDS -->
    <div class="row mt-5">{% for id, tour in tours.items %}
      <div class="col-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="Фото отеля {{ tour.title }}">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncatewords:13 }}</p>
            <a href="{% url 'tour' id %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>{% endfor %}
    </div>
  </main>
{% endblock %}
